
/* Reset */

  html, body, div, h1, header,section,video {
    font-size: 100%;
    font: inherit;}


/* Basic */

  body {
    
    background-attachment: fixed, fixed;
    font-size: 16pt;
    line-height: 1.75em;
    font-weight: 300;
    letter-spacing: 1px;
}

    header p {
      display: block;
      margin: 5em 0 0 0;
      padding: 0 0 1.5em 0;
    }

    p{  
      text-align: justify;
    }

    span{
  font-size: 1.3em
}

footer {
    background: #121e1f;
    width: 100%;
    height: 5.9%;
    position: absolute
  }

footer h2{
  color: gray;
  text-align: center;
  margin-top: 10px;
  font-size: 0.8em;
}


/* Header */

  #header {
    position: relative;
    color: #ffffff;
    text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25);
    text-align: center;
    margin: 0;
    padding: 13em 0 3em 0;
    cursor: default;
  }

    #header header {
      display: inline-block;
      padding: 0 0 4.5em 0;
    }

      #header header h1 {
        font-weight: 600;
        font-size: 2em; 
        letter-spacing: 1px;
      }

      #header header p {
        border-top: solid 1px rgba(255, 255, 255, 0.5);
        color: rgba(255, 255, 255, 0.75);
        font-size: 1em;
        text-transform: uppercase;
        letter-spacing: 3px;
        padding: 0em;
        margin-top: 0.35em;
      }

        #header header p:before {
          content: '';
          display: block;
          border-top: solid 1px rgba(255, 255, 255, 0.5);
          margin: 4px 0 0.8em 0;
        }

/*Banner*/

#banner {
    position: relative;
    color: #fff;
    text-align: left;
    background: #00000080;
    padding: 3em 0.4em ;
    margin: 50px;
  }
#banner h1{
  font-size: 3em;
  letter-spacing: 12px;
  text-align: center;
  font-family: farray;
  color: gray;
  line-height: 100px
}

#banner h1:hover{
  font-size: 4em
}

 #banner h2 {
        font-size: 2em;
        letter-spacing: 9px;
        text-align: center;
        line-height: 60px;
        font-family: Agency FB
      }
 #banner h2:hover{
      font-size: 3em;
      color: green
      }

 #banner p {
      margin: 2em;
    }


/*Posisi*/

.kanan{
position: absolute;
right: 410px;
top: 300px
}

.kiri{
  position: absolute;
  left: 400px;
  top: 300px
}
.atas{
  position: absolute;
  bottom: 400px;
  left: 400px
}

.fullscreen{
  position: absolute;
  right: 0px;
  top:0px;
}
.bawah{
  position: relative;
  bottom: -30px;
  right: -80px;
}

.bawah2{
  position: relative;
  bottom: -70px;
  right: 143px
}
.bwah2{
  position: absolute;
  bottom: 200px;
  right:  620px
}

/*Animasi*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}


.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}

@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

#d-block {
  width: 100px;
  height: 100px
} 

/* Atasan*/
#atasan {
 position: fixed;
 z-index: 1;
 left: 0;
 top: 0;
 width: 100%;
 background: #121e1f;
 height: 2.6em;
 line-height: 2em;
 box-shadow: 0 0 0.15em 0 rgba(0, 0, 0, 0.58);
  }


.transparant{
  background: transparent;
  border: transparent;
}



/* BannerKita */
#bannerkita
{
    position: relative;
    color: #fff;
    text-align: left;
    background: #298650;
    padding: 1em 1em ;
    margin: 0px;
  }

#bannerkita h1{
  font-size: 3em;
  letter-spacing: 80px;
  text-align: center;
  font-family: farray;
  color: white;
  line-height: 100px
}

#bannerkita h1:hover{
  color:black;}



.contohgambarparent {
    position: relative;
    width: 100%;
    height: 600px
    top: 0;
    margin: 0 auto;
    
  }
  .contohgambar img {
    position: absolute;
    left: 0;
    width: 500px;
    -webkit-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  .contohgambar .gambar2:hover {
    opacity: 0;
  }


  .parent {
  width: 20px;
  height: 70px;
  background: transparent;
  margin: 300px;
  position: relative;
}
.child {
  width: 0px;
  height: 500px;
  background: #90808300;
  position: absolute;
  top: 0%;
  left: -900%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}